{% render 'partials/head.liquid' %}
{% render 'partials/header.liquid' %}


<h1 class="likes-titel">Liked Artworks</h1>

{% if likedArtworks %}
    <ul class="card-container"> 

        {% for object in likedArtworks %}
            <li class="li-liked">
                <img class="image" src="https://fdnd-agency.directus.app/assets/{{ object.image }}" alt="{{ object.title }}">
            </li>
        {% endfor %}

    </ul>
  {% else %}
    <p>Je hebt nog geen objecten geliket.</p>
  {% endif %}

  