/* View transitions */
@view-transition {
    navigation: auto;
  }
  
/* MARK: header */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    gap: 1rem;
    flex-wrap: nowrap;
    /* position: fixed; */
    background-color: var(--background-color);
    border-bottom: 2px solid black;
}

.qatar-logo {
    justify-content: flex-start;
    flex-shrink: 0;
}

.nav-bar {
    list-style-type:none;
    display:flex;
    justify-content: flex-end;
    column-gap: 1em;
    gap: 1em;   
    flex: 1;
    /* align-items: inherit; */
}

.nav-links {
    display: none;
    &:hover {
        text-decoration: underline;
    }
    /* tablet versie */
    @media (min-width:960px) {
        display:inline-flex;
        align-items: center;
    }
}

.nav-links-like::before {
    content: "♡";
}

.ticket-link {
    display: none;
    &:hover {
        background-color: black;
    }

    @media (min-width:960px) {
        padding: 9px 16px 7px;
        background: var(--nav-highlight);
        border: 1px solid black;
        display:inline-flex;
        align-items: center;
    }
}

.ticket-a:hover {
    color: white;
}

a {
    text-decoration: none;
    color: var(--font-color);
    font-family: var(--font-western);
    font-weight: bold;
}

.AR-nav {
    font-family: var(--font-arabic);
    font-weight: bold;
}

.menu-button {
    font-family: var(--font-western);
    font-weight: bold;
    padding: 0px;
    gap: 8px;
    border: none;
    background-color: var(--background-color);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MARK: Art gallery */
.card-container {
    list-style-type: none;
    column-count: 2; /* Aantal kolommen */
    gap: 1.5em; 
        @media (min-width: 480px) {
            column-count: 3;   
        }
        @media (min-width: 720px) {
            column-count: 4;   
        }

}

.li-gallery {
  opacity: 0;
  transform: translateY(20px) scale(0.98);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.li-gallery.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}   

.li-gallery {
    display: inline-block; /* Zorgt ervoor dat de knop zich binnen de lijst netjes gedraagt */
    position: relative; /* Dit is nodig voor de absolute positionering van de knop */
}

.li-gallery:hover .image {
    filter: grayscale(100%) brightness(0.35); /* De afbeelding wordt grijs en donkerder bij hover over het hele li-element */
    transform: scale(1.05);
}

.image {
    width: 100%;
    height: auto; 
    /* border-radius: 7px; */
    display: block; /* Verwijdert inline-afstanden */
    padding-top: 1.5em;
    transition: transform 0.5s ease;
    cursor: pointer;  
    &:hover {
        transform: scale(1.05);
    }
}

.like-button {
    position: absolute;
    bottom: 10px;  /* Plaatst de knop 10px vanaf de bovenkant */
    right: 10px;
    border: none;
    background-color: transparent; 
    opacity: 0; /* Zorgt ervoor dat de knop standaard onzichtbaar is */
    visibility: hidden; /* Zorgt ervoor dat de knop niet interageert wanneer deze verborgen is */
    transition: opacity 0.3s ease, visibility 0s ease 0.3s; /* Opacity fade effect */
    cursor: pointer;
    font-size: 50px;

    @media(max-width:360px) {
        font-size: 24px;
    }
}

.li-gallery:hover .like-button {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease; /* Zorgt ervoor dat de knop zichtbaar wordt */
}

.like-button::before {
    content: "♡";
    color: white;
    transition: color 0.3s ease;
}

.like-button:hover::before {
    color: rgb(214, 75, 57);
}

.like-button.liked::before {
    content: "♥"; /* Vol hartje */
    color: rgb(214, 75, 57); /* Kleur van het gevulde hartje */
  }

  /* Loading animatie met drie puntjes */
.like-button.loading::before {
  content: "...";
  color: white;
  animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
  0%   { content: "."; }
  33%  { content: ".."; }
  66%  { content: "..."; }
  100% { content: "."; }
}


/* MARK: Object pagina */

.art-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--detail-background-color);
    max-width: 100vw;
    position: relative;
}

.back-button {
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    max-width: fit-content;
    padding: 16px 22px 12px 14px;
    position: absolute;
    top: 0%;
    left: 0%;
}


.object-id {
    width:600px ;
    height: 45vw;
    object-fit: cover;  

    /* @media(min-width:600px) {
    height: 90vw;
    }

    @media(min-width:960) {
        height: 45vw;
    } */
}

.search-form {
    position: fixed;
    bottom: 1em;
    right: 50%;
    cursor: pointer;
}

input {
    width: 250%;
    border-radius: 4px ;
    padding: .5em;
}


/* Info object */

.main-objectpagina {
    @media(min-width:800px) {
        display: grid;
        grid-template-rows: 0.5fr 0.3fr 2fr;
        grid-template-columns: 1fr 1fr;
    }

}

.object-title {
    border-bottom:2px solid black ;
    padding: 0%;

    @media(min-width:800px) {
        grid-row: 1;
        grid-column: 1;
        border-right: 2px solid black;
    }
}

.info-tekst {
    border-bottom: 2px solid black;
    display: flex;
    @media(min-width:800px) {
        grid-row: 2;
        grid-column: 1;
        border-right: 2px solid black;

    }
}

.info-object {
    border-bottom: 2px solid black;
    @media(min-width:800px) {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column: 2;
        padding: 1em;
    }
}

.object-summary {
    /* max-width: 70ch; */
    margin: 0;
    @media(min-width:800px) {
        grid-row: 3;
        grid-column: 1;
        border-right: 2px solid black;

    }
}

.tekst-medium {
    font-family: var(--font-western);
    font-weight:lighter;
}

.tekst-bold {
    font-family: var(--font-western);
    font-weight: bold;
}

.h1-title {
    font-family: var(--font-western);
    font-weight: normal;
}

.share-icons {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 2px solid black;
}

.icon-links {
    cursor: pointer;
}



/* MARK: likes.liquid */

.likes-titel {
    display: flex;
    justify-content: center;
    font-family: var(--font-western);
    font-weight: bold;
}


/* MARK: view transitions */

/* Apply the custom animation to the old and new page states */
/* ::view-transition-old(root) {
  animation: 0.4s ease-in both move-out;
}
  
::view-transition-new(root) {
  animation: 0.4s ease-in both move-in;
} */

/* Create a custom animation */
/* @keyframes move-out {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
} */


/* Old stuff going out */
/* ::view-transition-old(artwork-) {
    animation: fade 0.2s linear forwards;
  } */
  
  /* New stuff coming in */
  /* ::view-transition-new(artwork-) {
    animation: fade 0.3s linear reverse;
  }
  
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  } */

 